# +-----------------------------------------------------------------------------------------------------
# | APP
# +-----------------------------------------------------------------------------------------------------
NODE_ENV='local'

# +-----------------------------------------------------------------------------------------------------
# | SERVER CONFIGURATION
# +-----------------------------------------------------------------------------------------------------
PORT='3000'

# +-----------------------------------------------------------------------------------------------------
# | DATABASE CONFIGURATION
# +-----------------------------------------------------------------------------------------------------
MONGO_URI='mongodb://localhost:27017/db_name'