# +-----------------------------------------------------------------------------------------------------
# | SERVER CONFIGURATION
# +-----------------------------------------------------------------------------------------------------
PORT='3000'

# +-----------------------------------------------------------------------------------------------------
# | DATABASE CONFIGURATION
# +-----------------------------------------------------------------------------------------------------
MONGO_URI=''