# +-----------------------------------------------------------------------------------------------------
# | APP
# +-----------------------------------------------------------------------------------------------------
NODE_ENV='local'
API_BASE_URL=''
USER_WELCOME_BASE_URL=''
USER_REGISTRATION_BASE_INVITATION_URL=''
USER_PASSWORD_RESET_URL=''
SERVICE_ENTRY_PUBLIC_BASE_URL=''

# +-----------------------------------------------------------------------------------------------------
# | SERVER CONFIGURATION
# +-----------------------------------------------------------------------------------------------------
PORT='3000'

# +-----------------------------------------------------------------------------------------------------
# | DATABASE CONFIGURATION
# +-----------------------------------------------------------------------------------------------------
MONGO_URI='mongodb://localhost:27017/db_name'

# +-----------------------------------------------------------------------------------------------------
# | AWS
# +-----------------------------------------------------------------------------------------------------
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_REGION=''
AWS_SES_FROM_EMAIL=''
AWS_SNS_SENDER_ID=''

# +-----------------------------------------------------------------------------------------------------
# | JWT CONFIGURATION
# +-----------------------------------------------------------------------------------------------------
JWT_SECRET=''
JWT_EXPIRATION='7d'

# +-----------------------------------------------------------------------------------------------------
# | MAILER
# +-----------------------------------------------------------------------------------------------------
MAILER_HOST=''
MAILER_PORT=''
MAILER_USER=''
MAILER_PASSWORD=''
MAILER_FROM=''
